$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

body {
  padding: 0;
  background-color:black;
}

.LeagueCtrl {
  width:100%;
  margin: 0px;
  padding: 0px;
  li {
    $divHeight: 300px;

    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
    height: $divHeight;
    width: 100%;
    list-style-type: none;
    a{
      width: 100%;
      height: $divHeight;
      display: block;
    }
    img {
      display: block;
      margin: 0 auto;
      padding-top: ($divHeight - 100) / 2;
      height: 100;
    }
  }
}
